
html{
  font-size: 62.5%;
  box-sizing:border-box;
}

body,#root{
  height: 100vh;
  margin: 0;
}

body,input,select,textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 24rem 1fr 0rem;
  grid-template-columns: 1fr;

}

/* a:hover{
  color: #ff8000;
} */




.pagination{
  margin-left: 2rem;
}

header{
  grid-area: header;
  color: #0e0a0a;
  display: flex;
  margin-left:15rem;

}
header a{
  color: #ffffff;
  text-decoration: none;

}

main{
  grid-area: 100rem;

}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex:4 100rem
} 

/* products height='120' width='150' */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

}
.products li{
  flex:1 30rem;
  justify-content: center;
  height: 20rem;
  padding: 6rem;
  margin: 0rem;

}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.product img{

  max-width: 10rem;
  max-height: 25rem;
  align-items: center;

}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: left;
}


.product-price button{
  text-align: center;
  flex: 1;
}
.product-price div{
  font-size: 6rem;
}


.name{
  align-items: left;
  margin-left: 0.5rem;
  font-size: 2vh;
  margin-top: 1.5rem;
  color: #0e0a0a;
}

.price{
  align-items: left;
  margin-left: 0.5rem;
  font-size: 2vh;
  color: red;
}

.button.filter-results.filter{
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor:pointer;
  display: flex;
  justify-content: center;
}

.button.secondary{
  background-color: #f0f0f0;
  
}


/*filters */
.filter{
  display: flex;
  justify-content: space-between;
    margin-top: 5rem;
}

/* .filter div{
  flex: 1;
} */

.navbar{
  background:transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 999;
}


.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  width: 100%;
  height:90%;
  background: #ffffff;
  text-align: center;
  left: 0%;
  top: 10%;
  padding: 20px;
}

.modal-close{

  position: absolute;
    width: 3rem;
    height:3rem;
    background: #ffffff;
    left:0rem;
    top: 0%;
    padding: 0px;
    color:orange

}

